# We are on a parent project avoid the sub project directories
.DS_Store
**/.DS_Store

proto
run.sh
generated-modules/
shopping-example/

.tmp
**/.tmp

.git
**/.git

.settings
**/.settings

.project
**/.project

**/.factorypath

.idea
**/.idea

.classpath
**/.classpath

*.log
**/*.log

logs
**/logs

.vscode
**/.vscode

**/cities
repository/cities

target
**/target

**/test-output

repository/src/main/resources/cities/**
