<?xml version="1.0" encoding="UTF-8" ?>

<configuration scan="true">
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>
	<springProperty scope="context" name="springAppName" source="spring.application.name"/>
	
    <property name="FILE_NAME_APP" value="urban-mobility" />
    <property name="FILE_NAME_MAIN" value="${FILE_NAME_APP}.main" />
    <property name="FILE_NAME_HIBERNATE" value="${FILE_NAME_APP}.hibernate" />
    <property name="FILE_NAME_SPRING" value="${FILE_NAME_APP}.spring" />
    <property name="FILE_NAME_ERROR" value="${FILE_NAME_APP}.error" />
    <property name="LOG_PATH" value="${BUILD_FOLDER:-log}" />
    
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} [%file:%line] - %msg%n" />
    
    <property name="COLOR_LOG_PATTERN"
			  value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="APP-FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_PATH}/${FILE_NAME_APP}.log</file>
        <encoder>
            <pattern>${COLOR_LOG_PATTERN}</pattern>
            <charset>UTF8</charset>
        </encoder>
    </appender>

    <appender name="MAIN-FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_PATH}/${FILE_NAME_MAIN}.log</file>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF8</charset>
        </encoder>
    </appender>

    <appender name="HIBERNATE-FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_PATH}/${FILE_NAME_HIBERNATE}.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} [%file:%line] - %msg%n </pattern>
            <charset>UTF8</charset>
        </encoder>
    </appender>

    <appender name="SPRING-FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_PATH}/${FILE_NAME_SPRING}.log</file>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF8</charset>
        </encoder>
    </appender>

    <appender name="ERROR-FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_PATH}/${FILE_NAME_ERROR}.log</file>
        <encoder>fresche
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF8</charset>
        </encoder>
    </appender>

    <appender name="THREAD" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>thread</key>
            <defaultValue>unknown</defaultValue>
        </discriminator>
        <sift>
            <appender name="FILE-${thread}" class="ch.qos.logback.core.FileAppender">
                <file>${LOG_PATH}/${FILE_NAME_APP}.${thread}.log</file>
                <append>false</append>
                <layout class="ch.qos.logback.classic.PatternLayout">
                    <pattern>${LOG_PATTERN}</pattern>
                    <charset>UTF8</charset>
                </layout>
            </appender>
        </sift>
    </appender>

    <logger name="org.spring" level="debug">
        <appender-ref ref="SPRING-FILE" />
    </logger>

    <logger name="org.springframework" level="debug">
        <appender-ref ref="SPRING-FILE" />
    </logger>

    <logger name="org.hibernate" level="debug">
        <appender-ref ref="HIBERNATE-FILE" />
    </logger>
    
    <logger name="ca.ghandalf.urban.mobility" level="debug">
        <appender-ref ref="APP-FILE" />
    </logger>

    <logger name="error" level="error">
        <appender-ref ref="ERROR-FILE" />
    </logger>

    <root level="debug">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="MAIN-FILE" />
    </root>

</configuration>