# We are on a parent project avoid the sub project directories
.DS_Store
**/.DS_Store

node/**
zremoved
node_modules/**
**/node_modules
*.versionsBackup
**/*.versionsBackup

.tmp
**/.tmp

.git
**/.git

.settings
**/.settings

.project
**/.project

**/.factorypath

.idea
**/.idea

.classpath
**/.classpath

*.log
**/*.log

logs
**/logs

bin
**/bin

.vscode
**/.vscode

target
**/target

**/test-output

